{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar{
            border-radius: 0;
        }

    </style>
</head>
<body>

    {#导航栏#}
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/file/list"> 用户上传未处理图片 </a>
        </div>
      </div>
    </nav>


    <div class="container">
        <text>图片的唯一标识</text>
        <br>
        <textarea id="myTextarea" rows="3" cols="50">
            {{ getUserUploadPhotoName }}
        </textarea>
            <button id="copyButton">复制图片名称</button>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputFile">请上传jpg,png,jpeg格式的图片</label>
            <input type="file" id="upload_file" name="upload_photo">
          </div>

            <br>
          <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>

    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
          // 定义要复制的文本
          const textarea = document.getElementById('myTextarea');

          // 获取textarea中的文本

          const textToCopy = textarea.value.replace(/<[^>]*>/g, '').replace(/\s+/g, '');  // 去除所有非字母数字的字符;
          console.log(textToCopy);

          // 复制文本到剪贴板
          navigator.clipboard.writeText(textToCopy)
            .then(() => {
              alert('复制成功！请使用唯一标识领取图片');
            })
            .catch(err => {
              // 这可能是因为用户拒绝了剪贴板权限，或者浏览器不支持这个API
              console.error('无法复制文本: ', err);
              alert('无法复制文本，请确保浏览器支持剪贴板API且您已授予权限。');
            });
        });
    </script>




<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>