{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar{
            border-radius: 0;
        }

    </style>
</head>
<body>

    {#导航栏#}
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/file/list"> 用户上传未处理图片 </a>
        </div>
      </div>
    </nav>


    <div class="container">

        <text style="color: #c7254e">图片的唯一标识</text>
        <br>
        <div id="textToCopy">{{ getUserUploadPhotoName }}</div>
        <button onclick="copyText()">复制唯一标识</button>
        <br>
        <br>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputFile">请上传jpg,png,jpeg格式的图片</label>
            <input type="file" id="upload_file" name="upload_photo">
          </div>
            <br>
          <button type="submit" class="btn btn-primary">提交</button>
        </form>

    </div>

    <script>
        function copyText() {
          // 获取要复制的文本
          var textToCopy = document.getElementById("textToCopy").innerText;

          // 创建一个临时的textarea元素
          var tempTextArea = document.createElement("textarea");
          tempTextArea.value = textToCopy;

          // 将textarea元素添加到页面中
          document.body.appendChild(tempTextArea);

          // 选择文本
          tempTextArea.select();
          tempTextArea.setSelectionRange(0, 99999); /* 兼容性处理 */

          // 复制文本到剪贴板
          document.execCommand("copy");

          // 删除临时的textarea元素
          document.body.removeChild(tempTextArea);

          // 提示复制成功
          alert("复制成功");
        }
    </script>




<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>