{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar{
            border-radius: 0;
        }

    </style>
</head>
<body>

    {#导航栏#}
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/photoupload/"> 用户上传未处理图片 </a>
        </div>
      </div>
    </nav>


     <div class="jumbotron">
      <h1 class="display-4">请您仔细阅读!!!</h1>
      <p class="lead">请您点击下方选择文件按钮选择上传图片（1M以内）</p>
      <p class="lead">然后您需要在下面的输入框中输入您的唯一标识，可以是学号加第几次上传 或者 手机号加第几次上传 例如：</p>
      <p class="lead">202102110481(20210211048学号的第一次上传)  </p>
      <p class="lead">180319799281(18031979928手机号的第一次上传) </p>
      <p class="lead">唯一标识必须包含一个数字或字母</p>

    </div>



    <div class="container" >
        <form method="post" enctype="multipart/form-data" id="uploadForm">
            {% csrf_token %}
          <div class="form-group">
            <label class="text-success" for="exampleInputFile">请上传jpg,png,jpeg格式的图片</label>
            <input class="btn btn-success"  type="file" name="upload_photo" required="true">
              <br>
            <label class="text-primary" for="exampleInputFile">请填写图片的唯一标识 (学号加第几次上传 或者 手机号加第几次上传) </label>
            <br>
            <label class="text-primary">例如：202102110481 180319799281</label>
              <br>
            <input type="text" id="upload_file" name="photoName" required="true">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">提交</button>
        </form>
    </div>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>