{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <text>{{ successInfo }}</text>

    <br>
    <textarea id="myTextarea" rows="4" cols="50">
    {{ photo_name }}
    </textarea>
    <button id="copyButton">复制文本</button>
    <script>


        document.getElementById('copyButton').addEventListener('click', function() {
            // 定义要复制的文本
          const textarea = document.getElementById('myTextarea');

          // 获取textarea中的文本
          const textToCopy = textarea.value.replace(/<[^>]*>/g, '').replace(/\s+/g, '');
          textarea.select();
          // 尝试复制文本
          try {
            console.log(textToCopy);
            var successful = document.execCommand('copy');
            var msg = successful ? '成功复制文本' : '无法复制文本';
            console.log(msg);
          } catch (err) {
            console.error('复制文本时出错:', err);
          }

          // 清除选区，防止影响后续操作
          document.getSelection().removeAllRanges();
        });


    </script>
<script src="{% static 'clipboard.js-master/dist/clipboard.min.js' %}"></script>
</body>
</html>

