{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
</head>
<body>

    <div class="jumbotron">
      <h1 class="display-4">请您仔细阅读!!!</h1>
      <p class="lead">您需要复制您的唯一标识，您可以用唯一标识得到处理好的图片</p>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <text>{{ successInfo }}</text>
        <br>
        <text style="color: #c7254e">请复制您的唯一标识：</text>
        <div id="textToCopy">{{ photo_name }}</div>
        <button type="button" class="btn btn-primary" onclick="copyText()">复制唯一标识</button>
      </div>
    </div>



  <script>
        function copyText() {
          // 获取要复制的文本
          var textToCopy = document.getElementById("textToCopy").innerText;

          // 创建一个临时的textarea元素
          var tempTextArea = document.createElement("textarea");
          tempTextArea.value = textToCopy;

          // 将textarea元素添加到页面中
          document.body.appendChild(tempTextArea);

          // 选择文本
          tempTextArea.select();
          tempTextArea.setSelectionRange(0, 99999); /* 兼容性处理 */

          // 复制文本到剪贴板
          document.execCommand("copy");

          // 删除临时的textarea元素
          document.body.removeChild(tempTextArea);

          // 提示复制成功
          alert("唯一标识复制成功 您可以稍后根据唯一标识获得处理完成的图片！");
        }
    </script>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>

